<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: frgHead"></head>
<body class="hold-transition register-page" th:style="'background-image:url(' + @{/inicio/assets/img/ciudad.jpg} + ');'">
<div class="register-box">
  
  <div class="card info-box">
    <div class="card-body register-card-body">
    <div class="register-logo">
	    <b>Registrarse</b>
	  </div>
      <p class="login-box-msg">A continuaci&oacute;n ingrese sus datos</p>

      <form th:action="@{/usuario/save}" th:object="${usuario}" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" 
          		th:errorclass="'form-control is-invalid'"
          		th:field="*{nombres}" placeholder="Nombres">
          		<small class="invalid-feedback" 
          		th:if="${#fields.hasErrors('nombres')}"
          		th:errors="*{nombres}"></small>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-font"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" 
          th:errorclass="'form-control is-invalid'"
          th:field="*{apellidos}" placeholder="Apellidos" />
          <small
          class="invalid-feedback"
          th:if="${#fields.hasErrors('apellidos')}"
          th:errors="*{apellidos}"></small>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-font"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" 
			th:errorclass="'form-control is-invalid'"
			th:field="*{nombre}" placeholder="Nombre de usuario" /> 
			<small
			class="invalid-feedback"
			th:if="${#fields.hasErrors('nombre')}"
			th:errors="*{nombre}"></small>          
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" 
			th:errorclass="'form-control is-invalid'"
			th:field="*{password}" placeholder="Password" /><small
			class="invalid-feedback"
			th:if="${#fields.hasErrors('password')}"
			th:errors="*{password}"></small>         
         
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-key"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
        	<select class="form-control" th:name="rol">
        	<option value="0" >-- Seleccionar Rol --</option>
        	<option value="SUP" >Supervisor</option>
        	<option value="ADMIN" >Administrador</option>
        	</select>      
         
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="far fa-dot-circle"></span>
            </div>
          </div>
        </div>
        
        <div class="row">  
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-success btn-block">Guardar</button>
          </div>
          <div class="col-4">
            <a th:href="@{/}" class="btn btn-danger btn-blobk">Cancelar</a>
          </div>
          <!-- /.col -->
        </div>
        <div class="row justify-content-center">
       		<a th:href="@{/login}" class="">Ya tengo una cuenta</a>
       		
        </div>
        
      </form>

      

      
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>