<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
<div th:replace="layout :: frgNavbar"></div>
<div th:replace="layout :: frgSidebar"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<div th:replace="layout :: frgHeader"></div>
<!-- Main content -->
<section class="content">
<div class="container-fluid">
<!-- Main row -->
<div class="row">
<!--$$$ CONTENIDOOOOOOOOOOOOOOOO $$$-->
	<table class="table table-hover">
		<thead>
			<tr>
				<th>C&oacute;digo</th>
				<th>Trabajador</th>
				<th>Fecha de Impresi&oacute;n</th>
				<th>Total</th>
				<th><a class="btn btn-sm btn-success" th:href="@{/roldepago/create}">&nbsp;Nuevo</a></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="r : ${rolesDePago}">
				<td th:text="${r.idrol}"></td>
				<td th:text="${r.trabajador}"></td>
				<td th:text="${r.fechaImpresion()}"></td>
				<td th:text="${r.total}"></td>
				<td>
					<a class="btn btn-sm btn-warning" th:href="@{/roldepago/update/} + ${r.idrol}">&nbsp;Actualizar</a>
					<a class="btn btn-sm btn-warning" th:href="@{/roldepago/retrieve/} + ${r.idrol}">&nbsp;Consultar</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- /.row (main row) -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div th:replace="layout :: frgFooter"></div>	
</div>
<!-- ./wrapper -->	
<div th:replace="layout :: frgScripts"></div>

</body>
</html>