<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
<div th:replace="layout :: frgNavbar"></div>
<div th:replace="layout :: frgSidebar"></div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<div th:replace="layout :: frgHeader"></div>
<!-- Main content -->
<section class="content">
<div class="container-fluid">
<!-- Main row -->
<div class="row">

<!-- CONTENIDO CONTENIDO CONETENIDO CONTENIDO CONTENIDO -->
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripci&oacute;n</th>
				<th>Sueldo</th>
				<th><a class="btn btn-sm btn-success" th:href="@{/cargo/create}">&nbsp;Nuevo</a></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${cargos}">
				<td th:text="${c.nombre}"></td>
				<td th:text="${c.descripcion}"></td>
				<td th:text="${c.sueldo}"></td>
				<td>
					<a class="btn btn-sm btn-warning" th:href="@{/cargo/update/} + ${c.idcargo}">&nbsp;Actualizar</a>
					<a class="btn btn-sm btn-warning" th:href="@{/cargo/retrieve/} + ${c.idcargo}">&nbsp;Consultar</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>
<!-- /.row (main row) -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div th:replace="layout :: frgFooter"></div>	
</div>
<!-- ./wrapper -->	
<div th:replace="layout :: frgScripts"></div>

</body>
</html>